<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/inicio.css">

        <title>Inicio</title>
    </head>

    <body>

        <div class="container">
            <div class="card">
                <img src="/img/buscar.svg" alt="buscar"/>
                <h4>CATÁLOGO DE LIBROS</h4>
                <p>Buscá tu libro y pedí un préstamo para pasar un buen momento de lectura.</p>
                <a th:href="@{/catalogo}">Ver catálogo</a>
            </div>


            <div class="card">
                <img src="/img/prestamo.svg" alt="editar"/>
                <h4>DEVOLVER UN LIBRO</h4>
                <p id="rebelde">Realizá la devolución de tu libro prestado acá.</p>
                <a th:href="@{/devolucion}">Devolver libro</a>
            </div>

            <div class="card">
                <img src="/img/descargar.svg" alt="descargar"/>
                <h4>DESCARGAR PDFs</h4>
                <p>Si te gusta leer desde tu dispositivo, acá vas a encontrar libros en PDF.</p>
                <a th:href="@{/descargar}">Descargar libros en PDF</a>
            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    </body>

</html>